{{#if addQuestionForm}}
  <form class="addQuestionForm">
    {{input value=question id="question" placeholder="Your Question"}}
    {{input value=author id="author" placeholder="Your Name"}}
    {{input value=additionalNotes id="additionalNotes" placeholder="Additional Notes"}}
    <button {{action 'save'}}>Save</button>
  </form>
{{else}}
  <button {{action 'showAddQuestionForm'}}>Add A Question</button>
{{/if}}
