<p> Question Page: <br>
  {{model.question.question}} <br>
  --{{model.question.author}}<br>
  Notes: {{model.question.additionalNotes}} <br></p>

Answers:
Answer - Author <br>
{{#each model.answers as |answer|}}
  <b>{{answer.answer}}</b><br>
  -{{answer.author}}<br>
{{/each}}

{{answer-tile answer=answer addAnAnswer="saveAnswer"}}
